<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net40" />
  <package id="VVVV.Core" version="33.3.0" targetFramework="net40" />
  <package id="VVVV.Nodes.Generic" version="33.3.0" targetFramework="net40" />
  <package id="VVVV.Packs.Time" version="0.5.5" targetFramework="net40" />
  <package id="VVVV.PluginInterfaces" version="33.3.0" targetFramework="net40" />
  <package id="VVVV.SlimDX" version="1.0.1" targetFramework="net40" />
  <package id="VVVV.System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net40" />
  <package id="VVVV.Utils" version="33.3.0" targetFramework="net40" />
</packages>